/* header styles */
.header {
    overflow: hidden;
    background-color: $white;
    padding: 15px 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    opacity: 0.95;
    box-shadow: 0px 2px 2px $darkGrey;
    -webkit-box-shadow: 0px 2px 2px $darkDarkGrey;
    -moz-box-shadow: 0px 2px 2px $evenDarkerGrey;
    z-index: 999999;
  }

  .header a {
    float: left;
    display: block;
    color: $darkPurple;
    text-align: center;
    padding: 10px;
    margin-inline: 5px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 12px;
    transition-duration: 0.4s;
  }

  .header a:hover {
    background-color: $almostPurple;
    color: $white;
  }

  .header a.active {
    background-color: $purple;
    color: $white;
  }

  .header a.active:hover {
    background-color: $darkVibrantPurple;
    color: $white;
  }
  
  .header-right {
    float: right;
  }

  .header .icon {
    display: none;
  }

  @media screen and (max-width: 1150px) {
    .header a:not(:first-child) {display: none;}
    .header a.icon {
      float: right;
      display: block;
    }

    .header-right {
      display: none;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .header.responsive {position: relative;}
    .header.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .header.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media screen and (max-width: 1150px) {
    .header-right.responsive {position: relative;}
    .header-right.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .header-right.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }