/* header styles */
.header {
    overflow: hidden;
    background-color: $white;
    padding: 15px 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    opacity: 0.95;
    box-shadow: 0px 2px 2px $darkGrey;
    -webkit-box-shadow: 0px 2px 2px $darkDarkGrey;
    -moz-box-shadow: 0px 2px 2px $evenDarkerGrey;
    z-index: 999999;
  }

  .header a {
    float: left;
    color: $darkPurple;
    text-align: center;
    padding: 10px;
    margin-inline: 5px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 12px;
    transition-duration: 0.4s;
  }

  .header a:hover {
    background-color: $almostPurple;
    color: $white;
  }

  .header a.active {
    background-color: $purple;
    color: $white;
  }

  .header a.active:hover {
    background-color: $darkVibrantPurple;
    color: $white;
  }
  
  .header-right {
    float: right;
  }

  .hamburger {
    font-weight: bolder;
    display: none;
 }
  
  @media screen and (max-width: 1000px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }