// main colors
$white: #ffffff;
$lightPurple: #b894f2;
$greyishPurple: #a182d3;
$purple: #9762ec;
$darkPurple: #47365e;
$darkDarkPurple: #201335;
$black: #000000;

// header
$lightGrey: #f1f1f1;
$grey: #ddd;
$darkGrey: #c0c0c080;
$darkDarkGrey: #a3a3a380;
$evenDarkerGrey: #8b8b8b80;