// colors
$darkPurple: hsl(263, 48%, 14%);
$purple: hsl(260, 53%, 55%);
$orange: hsl(40, 100%, 43%);
$grayishPurple: hsl(276, 14%, 67%);
$lightGrayishPurple: hsl(276, 27%, 89%);
$veryLightGray: hsl(276, 6%, 97%);
$white: hsl(0, 0%, 100%);